### 선형리스트(Linear List)

In [40]:
katok = ['성진', '원필', '도운','영케이']

In [41]:
print(id(katok[0]))
print(id(katok[1]))
print(id(katok[2]))
print(id(katok[3]))

2364888994928
2364888991280
2364888996464
2364888993200

In [42]:
katok[0]

'성진'

In [44]:
katok[3]

'영케이'

#### 배열이라고 가정
- 데이터 마지막에 추가하려면
    1. 배열의 마지막에 빈공간을 생성
    2. 데이터 추가

In [45]:
katok.append(None)
katok

['성진', '원필', '도운', '영케이', None]

In [46]:
katok[len(katok)-1] = '마이데이'
katok

['성진', '원필', '도운', '영케이', '마이데이']

- 데이터를 중간에 추가하려면
    1. 배열의 마지막에 빈공간을 추가
    2. 데이터를 추가할 위치까지 이전 데이터를 뒤로 shift
    3. 중간에 있는 빈 위치에 새 데이터를 추가

- insert()함수를 안 쓰면 아래와 같이 구현해야 함

In [47]:
katok.append(None)
katok[5]=katok[4]
katok[4]=None
katok

['성진', '원필', '도운', '영케이', None, '마이데이']

In [48]:
katok[4]=katok[3]
katok[3]=None
katok[3]=katok[2]
katok[2]=None
katok[2]=katok[1]
katok[1]=None
katok[1]='데이식스'
katok

['성진', '데이식스', '원필', '도운', '영케이', '마이데이']

- 데이터 삭제
    1. 위치의 값을 None으로 변경
    2. None이 된 빈 위치에 오른쪽 데이터를 이동, 그자리는 None
    3. 배열의 마지막이 None 될때까지 반복
    4. del(array[idex]) 삭제

In [49]:
katok[1]=None
katok[1]=katok[2]
katok[2]=None
katok[2]= katok[3]
katok[3]=None
katok[3]=katok[4]
katok[4]=None
katok[4]=katok[5]
katok[5]=None

In [50]:
katok

['성진', '원필', '도운', '영케이', '마이데이', None]

In [51]:
del(katok[5])
katok

['성진', '원필', '도운', '영케이', '마이데이']

### 선형리스트 일반 구현
- day10/py03_linear_list.py로 구현